/Hero.class
/Plateau.class
/Methods.class
/main.class
/test111.class
/labyrinthe.class
/principal.class
/Draw.class
/deplacement.class
/Monster.class
/Fantome.class
/mur1.class
/mur2.class
/mur1_2.class
/test1111.class
